<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'admin/indexAdmin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/updateStaff">
  <table class="table table-hover" border="4px">
    <tr>
      <td>NAME</td>
      <td><label>
        <input type="text" name="textfield" value="{{val.name}}" required pattern="[A-Z a-z]{2,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><label>
        <input type="text" name="textfield2" value="{{val.place}}" required pattern="[A-Z a-z]{2,50}"/>
      </label></td>
    </tr>
    <tr>
      <td>POST</td>
      <td><label>
        <input type="text" name="textfield9" value="{{val.post}}" required pattern="[A-Z a-z]{2,50}"/>
      </label></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><label>
        <input type="text" name="textfield11"  value="{{val.pin}}" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <td>DATE OF BIRTH </td>
      <td><label>
        <input type="text" name="textfield3" value="{{val.date_of_birth|date:'Y-m-d' }}" required min="1950-01-01" max="2005-01-01"/>
      </label></td>
    </tr>
    <tr>
      <td>QUALIFICATION</td>
      <td><label>
        <input type="text" name="textfield4" value="{{val.qualification}}" required/>
      </label></td>
    </tr>
    <tr>
      <td>EXPERIENCE</td>
      <td><label>
        <input type="text" name="textfield5" value="{{val.experience}}" required/>
      </label></td>
    </tr>
    <tr>
      <td>PHONE NO </td>
      <td><label>
        <input type="text" name="textfield6" value="{{val.phone}}" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <td>EMAIL ID </td>
      <td><label>
        <input type="text" name="textfield7" value="{{val.email_id}}"required/>
      </label></td>
    </tr>
    <tr>
      <td>GENDER</td>
      <td>MALE
        <label>
        <input name="radiobutton" type="radio" value="Male" checked {% if val.gender == "Male" %}checked{% endif %}/>
        FEMALE
        <input name="radiobutton" type="radio" value="Female" {% if val.gender == "Female" %}checked{% endif %}/>
        </label></td>
    </tr>

    <tr>
      <td colspan="2" align="center"><label>
        <div align="center">
          <input class="btn btn-success" type="submit" name="Submit" value="EDIT" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
