<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'admin/indexAdmin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-hover" border="4px">
    <tr bgcolor="silver">
      <td>NAME</td>
      <td>ADDRESS</td>
      <td>SEMESTER</td>
      <td>COURSE</td>
      <td>PHONE NO </td>
      <td>EMAIL ID </td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{ i.std_name }}</td>
      <td>&nbsp;{{ i.stu_place }} {{ i.stu_post }} {{ i.stu_pin }}</td>
      <td>{{ i.semester }}</td>
      <td>{{ i.course_id.course_name }}</td>
      <td>{{ i.stu_phone }}</td>
      <td>{{ i.stu_email }}</td>
    </tr>
   {% endfor %}
  </table>
</form>
</body>
{% endblock %}
