<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'admin/index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/login">
  <table class="table table-hover">
    <tr>
      <td>Username</td>
      <td>
        <input type="text" id="ex3" name="textfield" class="form-control"/>
      </td>

    </tr>
 <!--<tr style="width:100px;"><td></td></tr>-->
     <!--<tr><td></td></tr>-->

    <tr>
      <td>Password</td>
      <td>
        <input type="password" name="textfield2" class="form-control" />
      </td>
    </tr>
      <tr>
          <td colspan="2" align="center">
          <input type="submit" name="Submit" value="LOGIN" class="btn btn-success"/>
          </td>
      </tr>
</table>
</form>
</body>
<!--</html>-->
{% endblock %}

